<%-include('./partials/header.ejs')%>
<style>

</style>
<body>
    <%-include('./partials/leftbar.ejs')%>
    <main>
        <!-- Page content -->
        <div class="content">
            <div class="content-top">
                <button id="sortPrice" class="btn sort-btn" data-sort="price" style="margin: 5px 2px">
                    Fiyata Göre Sırala
                </button>
                <button id="sortName" class="btn sort-btn" data-sort="name" style="margin: 5px 2px">
                    İsme Göre Sırala
                </button>
            </div>
            <div class="home-containerTop">
                <div class="owl-carousel" id="content-card">
                    <% products.forEach(product => { %>
                        <div class="item">
                            <a href="/product-details/<%= product.id %>">
                                <img src="/img/<%= product.imageUrl %>">
                                <a><%= product.name %></a>
                                <a><%= product.price %>TL</a>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>            
        </div>
        <%-include('./partials/footer.ejs')%>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        // Fiyata göre sıralama butonuna tıklama olayı
        document.getElementById("sortPrice").addEventListener("click", function() {
            sortProducts("price");
        });

        // İsme göre sıralama butonuna tıklama olayı
        document.getElementById("sortName").addEventListener("click", function() {
            sortProducts("name");
        });

        // Ürünleri sıralama işlevi
        function sortProducts(sortBy) {
            // Arama terimini al
            var searchTerm = document.getElementById("searchInput").value;
            
            // Arama terimini URL parametresine ekleyerek "/search-result" sayfasına yönlendir
            window.location.href = "/search-result?searchTerm=" + searchTerm + "&sort=" + sortBy;
        }

        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            responsive:{
                0:{
                items:1
                },
                600:{
                items:3
                },
                1000:{
                items:5
                }
            },
            nav: true,
            navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"]
            });
        });
    </script>
</body>
